.w-30{
    width: 30%;
}
.w-20{
    width: 20%;
}
.size{
    width: 140px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.profile-pic{
    height: 40px;
    width: 40px;
    margin-bottom: 5px;
    margin-right: 10px;
}
.post{
    width: 350px;
}
.borde{
    margin-bottom: 20px;
}